@font-face {
    font-family: 'Literal';
    src: url('./assets/fonts/Literal.otf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #333;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.keyboard-input {
    width: 60%;
    margin: 3% 20%;
    height: 200px;
    border: 15px solid #3f3f41;
    border-top: 20px solid #3f3f41;
    border-radius: 14px 14px 0 0;
    outline: none;
    font-family: 'Literal';
    font-size: 40px;
    resize: none;
    color: #1f1235;
    background-color: grey;
}

.keyboard {
    width: 700px;
    margin: 0 auto;
    border-radius: 10px 10px 4px 4px;
    box-shadow: 0px 5px 0px 0px darken(#d5d9dc, 50%);
}

.keyboard-keys {
    text-align: center;
}

.keyboard-key {
    display: inline-block;
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    border-radius: 0.8em;
    margin: 0.2em;
    padding: 1em;
    width: 3em;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: 0.063em solid #444;
    -webkit-box-shadow: 0 0.2em 0 0.05em #222;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
    font-family: 'Literal';
    line-height: 1.2;
    font-size: 0.85em;
}

.keyboard-key_activeted {
    background: #bd063d;
    box-shadow: inset 2px 2px 10px rgba(13, 16, 61, 0.5),
        inset -2px 2px 10px rgba(13, 16, 61, 0.5);
}


.keyboard-key:active {
    background: #242942;
    border-radius: 12px;
}

.keyboard-key_service {
    font-size: 0.72rem;
    width: 12%;
    background-color: #0b0818;
}

.keyboard-key_space {
    background-color: #0b0818;
    width: 24em;
}

.coffee {
    text-align: left;
    height: 63px;
    width: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: linear-gradient(to bottom left, rgb(247, 32, 46), rgb(219, 57, 65));
    background: -o-linear-gradient(to bottom left, rgb(247, 32, 46), rgb(219, 57, 65));
    background: -ms-linear-gradient(to bottom left, rgb(247, 32, 46), rgb(219, 57, 65));
    background: -webkit-linear-gradient(to bottom left, rgb(247, 32, 46), rgb(219, 57, 65));
    background: -moz-linear-gradient(to bottom left, rgb(247, 32, 46), rgb(219, 57, 65));
}

.coffee:before {
    position: absolute;
    content: "";
    right: -19px;
    top: 6px;
    height: 31px;
    width: 13px;
    background: transparent;
    border: 6px solid rgba(234, 54, 63, 0.98);
    border-left: 6px solid transparent;
    border-bottom: 6px solid rgb(240, 48, 61);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    z-index: 1;
}

.coffee:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 38px;
    background: rgb(117, 109, 117);
    border-radius: 5px;
    top: -38px;
    box-shadow: 44px 0px 0 rgba(117, 109, 117, 0.98), 21.5px -19px 0 rgb(117, 109, 117);
    opacity: 1;
    animation: cssload-steam 3.45s ease infinite;
    -o-animation: cssload-steam 3.45s ease infinite;
    -ms-animation: cssload-steam 3.45s ease infinite;
    -webkit-animation: cssload-steam 3.45s ease infinite;
    -moz-animation: cssload-steam 3.45s ease infinite;
}


@keyframes cssload-steam {
    100% {
        top: -50px;
        background: rgb(238, 238, 238);
        box-shadow: 44px 0px 0 rgb(238, 238, 238), 21.5px -19px 0 rgb(238, 238, 238);
        opacity: 0.25;
    }
}

@-o-keyframes cssload-steam {
    100% {
        top: -50px;
        background: rgb(238, 238, 238);
        box-shadow: 44px 0px 0 rgb(238, 238, 238), 21.5px -19px 0 rgb(238, 238, 238);
        opacity: 0.25;
    }
}

@-ms-keyframes cssload-steam {
    100% {
        top: -50px;
        background: rgb(238, 238, 238);
        box-shadow: 44px 0px 0 rgb(238, 238, 238), 21.5px -19px 0 rgb(238, 238, 238);
        opacity: 0.25;
    }
}

@-webkit-keyframes cssload-steam {
    100% {
        top: -50px;
        background: rgb(238, 238, 238);
        box-shadow: 44px 0px 0 rgb(238, 238, 238), 21.5px -19px 0 rgb(238, 238, 238);
        opacity: 0.25;
    }
}

@-moz-keyframes cssload-steam {
    100% {
        top: -50px;
        background: rgb(238, 238, 238);
        box-shadow: 44px 0px 0 rgb(238, 238, 238), 21.5px -19px 0 rgb(238, 238, 238);
        opacity: 0.25;
    }
}

.hint {
    color: #d6b87c;
    position: absolute;
    top: 30em;
    right: 27em;
    font-family: 'Literal';
    line-height: 1.2;
    font-size: 20px;
}